@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    list-style: none;
    transition: all .2s linear;
    font-family: 'Poppins', sans-serif;
}

:root{
    --bg-color: #1f242d;
    --bg-second-color: #323946;
    --text-color:#fff;
    --main-color: #0ef;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 7rem;
}

body{
    background: var(--bg-color);
    color: var(--text-color);
}


section{
    min-height: 100vh;
    padding: 10rem 9% 2rem;
}

.header{
    position: fixed;
    top: 0; left: 0;
    width: 100%;
    padding: 2rem 9%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 100;
}

.logo{
    font-size: 2.5rem;
    color: var(--text-color);
    font-weight: 600;
    cursor: default;
}

.navbar{
    display: flex;
    align-items: center;
    gap: 4rem;
}
.navbar a{
    color: var(--text-color);
    font-size: 1.5rem;
}

.navbar a:hover{
    color: var(--main-color);
}

.navbar a.active{
    color: var(--main-color);
}

#menu{
    display: none;
    color: var(--text-color);
    font-size: 3.5rem;
}

/* HOME SECTION */
.home{
    display: flex;
    align-items: center;
    gap: 3rem;
    justify-content: center;
}

.home-content h3{
    font-size: 3.2rem;
    font-weight: 700;
}
.second{
    margin-bottom: 2rem;
}
.home-content h1{
    font-size: 5.6rem;
    font-weight: 700;
    line-height: 1.3;
}
.home-content p{
    font-size: 1.6rem;
}

.home-image img{
    width: 35vw;
}

.social-media a{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 4rem;
    height: 4rem;
    color: var(--text-color);
    background: transparent;
    border: .2rem solid var(--main-color);
    border-radius: 50%;
    font-size: 2rem;
    margin: 3rem 1.5rem 3rem 0;
}

.social-media a:hover{
    background: var(--main-color);
    color: var(--bg-second-color);
    box-shadow: 0 0 1rem var(--main-color);
}

.btn{

}